[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = none

# SKEXP0043: Type is for evaluation purposes only and is subject to change or removal in future updates. Suppress this diagnostic to proceed.
dotnet_diagnostic.SKEXP0043.severity = none
